.tabpane-principal > .tab-header-area {
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

.icono-menu {
    -fx-icon-color: -color-fg-default;
    -fx-fill: -color-fg-default;
    -fx-icon-size: 30px;
}

.icono-solicitud-aceptar {
    -fx-icon-size: 35px;
    -fx-icon-color: -color-success-fg;
    -fx-fill: -color-fg-default;
}

.icono-solicitud-rechazar{
    -fx-icon-size: 35px;
    -fx-icon-color: -color-danger-fg;
    -fx-fill: -color-danger-fg;
}

.icono-solicitud-rechazar:hover{
    -fx-icon-size: 35px;
    -fx-icon-color: -color-fg-default;
    -fx-fill: -color-fg-default;
}

.icono-solicitud-aceptar:hover{
    -fx-icon-size: 35px;
    -fx-icon-color: -color-fg-default;
    -fx-fill: -color-fg-default;
}

.tarjeta-seleccionada{
    -fx-border-width: 5;
    -fx-border-color: -color-border-default;
    -fx-border-radius: 3;
    -fx-border-insets: 1;
}

.context-menu-seleccionado {
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-fg-default;
    -fx-border-radius: 4;
    -fx-border-width: 3;
    -fx-border-insets: -3;
}

.icono-conectado{
    -fx-border-color: -color-success-fg;
    -fx-border-radius: 3;
    -fx-border-width: 3;
}

.icono-desconectado{
    -fx-border-color: -color-fg-subtle;
    -fx-border-radius: 3;
    -fx-border-width: 3;
}
.menu-perfil{
    -fx-background-color:  -color-neutral-subtle;
}

.menu-perfil:hover{
    -fx-background-color:  -color-neutral-muted;
}

.item-menu-perfil{
    -fx-background-color: -color-neutral-subtle;
}

.item-menu-perfil:hover{
    -fx-background-color: -color-neutral-muted;
}




